/* -=- mobile devices responsive -=- */
@media screen and (max-width: 576px){
	.navbar, .navbar > ul{
		flex-direction: column;
	}
	.banner-container{
		flex-direction: column-reverse;
		padding: 30px;
	}
	.banner-content{
		margin-top: 20px;
	}
	.nav-logo{
		margin-bottom: 60px;
	}
	.navbar li a{
		margin-bottom: 30px;
		margin-left: 0;
	}
	.single-menu-bg{
		margin-top: 30px;
	}
}

/* -=- tablet devices responsive -=- */
@media screen and (min-width: 577px) and (max-width: 768px){
	.navbar {
		flex-direction: column;
	}
	.banner-container{
		flex-direction: column-reverse;
	}
	.banner-content{
		margin-top: 20px;
	}
	.nav-logo{
		margin-bottom: 30px;
	}
}