/* -=- mobile devices responsive -=- */
@media screen and (max-width: 320px){
	.primary-title{
		font-size: 40px;
	}
	.banner-title{
		font-size: 70px;
	}
	.banner-content button{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 576px){
	.navbar, .navbar > ul, .games-box, .play-container{
		flex-direction: column;
	}
	.banner-container{
		flex-direction: column-reverse;
		padding: 30px;
	}
	.banner-content{
		margin-top: 20px;
	}
	.nav-logo{
		margin-bottom: 60px;
	}
	.navbar li a{
		margin-bottom: 30px;
		margin-left: 0;
	}
	.banner, .games{
		padding-bottom: 0;
	}
	.single-menu-bg{
		margin-top: 30px;
	}
	.games-container{
		padding: 20px;
	}
	.games-box{
		align-items: center;
	}
	.play{
		padding: 50px 0;
	}
	.play-container{
		gap: 50px;
		justify-content:center;
		padding: 10px;
	}
	.play-content{
		width: 100%;
		text-align: center;
	}
	.play-img{
		width: 50%;
		margin: 0 auto;
	}
	.play-img-position{
		bottom: -50px;
		left: -60px;
	}
	.collection{
		padding: 50px 0;
	}
	.collection-container{
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}
	.collection-item{
		margin-bottom: 30px;
	}
	.collection-item img{
		width: 45px;
		height: 45px;
	}
	.collection-item h4{
		font-size: 13px;
	}
	.footer-container{
		padding: 20px;
	}
	.footer-icon{
		padding: 0 45px;
	}
}

/* -=- tablet devices responsive -=- */
@media screen and (min-width: 577px) and (max-width: 768px){
	.navbar, .play-container {
		flex-direction: column;
	}
	.banner-container{
		flex-direction: column-reverse;
	}
	.banner-content{
		margin-top: 20px;
	}
	.nav-logo{
		margin-bottom: 30px;
	}
	.games-box{
		flex-wrap: wrap;
		text-align: center;
		gap: 30px;
	}
	.play-container{
		justify-content: center;
		padding: 40px;
		gap: 50px;
	}
	.play-content{
		width: 100%;
		text-align: center;
	}
	.play-img{
		width: 50%;
		margin: 0 auto;
	}
	.collection{
		padding: 50px 0;
	}
	.collection-container{
		grid-template-columns: repeat(3, 1fr);
		padding: 30px;
	}
	.footer-container{
		padding: 20px;
	}
	.footer-flex{
		flex-wrap: wrap;

	}
	.footer-flex li{

	}
}