/* -=- mobile devices responsive -=- */
@media screen and (max-width: 576px){
	.navbar, .navbar > ul, .games-box, .play-container{
		flex-direction: column;
	}
	.banner-container{
		flex-direction: column-reverse;
		padding: 30px;
	}
	.banner-content{
		margin-top: 20px;
	}
	.nav-logo{
		margin-bottom: 60px;
	}
	.navbar li a{
		margin-bottom: 30px;
		margin-left: 0;
	}
	.single-menu-bg{
		margin-top: 30px;
	}
	.games-container{
		padding: 20px;
	}
	.games-box{
		align-items: center;
	}
	.play-container{
		gap: 50px;
		justify-content:center;
		padding: 10px;
	}
	.play-content{
		width: 100%;
		text-align: center;
	}
	.play-img{
		width: 50%;
		margin: 0 auto;
	}
	.play-img-position{
		bottom: -50px;
		left: -60px;
	}
}

/* -=- tablet devices responsive -=- */
@media screen and (min-width: 577px) and (max-width: 768px){
	.navbar, .play-container {
		flex-direction: column;
	}
	.banner-container{
		flex-direction: column-reverse;
	}
	.banner-content{
		margin-top: 20px;
	}
	.nav-logo{
		margin-bottom: 30px;
	}
	.games-box{
		flex-wrap: wrap;
		text-align: center;
		gap: 30px;
	}
	.play-container{
		justify-content: center;
		padding: 40px;
		gap: 50px;
	}
	.play-content{
		width: 100%;
		text-align: center;
	}
	.play-img{
		width: 50%;
		margin: 0 auto;
	}
}