
/* -=- google fonts -=- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


/* -=- common styles -=- */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Work Sans', sans-serif;
	font-style: 20px;
}
p{}
h1,h2,h3,h4,h5,h6{}
